<!--Top Section - Red-->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="form-row">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
</div>
<!--Bottom Section - White-->

<div class="container-fluid mt--7">
  <div class="form-row">
    <div class="col-12">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Budget Categories</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col" class="text-center">Edit</th>
                  <th scope="col" class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody *ngIf="budgetCategoryList.length > 0">
                <tr *ngFor="let cat of budgetCategoryList">
                  <td>{{ cat.name }}</td>
                  <td>{{ cat.description }}</td>
                  <td class="text-center">
                    <i class="fa fa-pencil edit-icon"></i>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-trash delete-icon"></i>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="budgetCategoryList.length < 1">
                <tr class="text-center text-danger">
                  <td colspan="4">No Budget Categories Available</td>                
                </tr>
              </tbody>
            </table>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>